[req]
default_bits       = 2048
distinguished_name = req_distinguished_name
req_extensions     = req_ext
prompt             = no

[req_distinguished_name]
C  = IL
ST = Israel
L  = Kfar Saba
O  = CyberClass
CN = MySecureServer

[req_ext]
subjectAltName = @alt_names

[alt_names]
# for use in Hosts file
DNS.1 = omer.ystr
DNS.2 = localhost
